.conntent{
    width: 90%;
    height: auto;

    margin: 0 auto;
}
body{
    background-color: white;
}
form{
    width: 380px;
    background-color: #001E2B;
    height: 410px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 70px;
   
    
}
.logo{
    width: 135px;
    text-align: center;
    height: auto;
    padding:   0.1px;
    background-color: #00ED64;
    margin: 0 auto;
}
.spon{
    margin: 0 auto;
    width: 210px;
    margin-top: 20px;
    font-size: 20px;
    
}
.liu{
    margin-left: 30px;
    color: white;
}
.bi{
    color: #00ED64;
}
.fo{
    width: 90%;
    height: auto;
   
    margin: 0 auto;
    margin-top: 25px;
}
input{
    width: 98%;
    height: 40px;
    border-radius: 5px;
   
}
.deux{
    margin-top: 30px;
}
.btn{
   
   display: flex;
   justify-content: flex-end;
   margin-top: 30px;
  
}
button{
    width: 120px;
    height: 45px;
    background-color: #00ED64;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
    text-transform: none;
    
}
label{
    color: white;
}